.widget {

  background-color: hsl(0, 0%, 98%); 
  border: 1px solid #ddd;  
  border-radius: 45px; 
  height: 170px;
  margin-bottom: 12px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);  
  transition: transform 0.2s ease, box-shadow 0.2s ease;  
  text-align: center;
  background-color: rgb(233, 233, 239);
 
}

.widget-img {
height: 10px;
width: 30px;
box-shadow: 2px 3px 3px ;
cursor: pointer;




}
img:active {
     height: 32px;
     width: 32px;

}
.widget h3 {
    font-weight: 700;
    color: rgb(86, 7, 224);
    font-style:normal
    
}
.widget p {
    font-style: italic;
    color:rgb(19, 7, 29);
    font-weight: 500;
    
}

 